.employee {
	width: 40rem;
	margin: 5rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 5rem;
	border: none;
	box-shadow: 0 1px 5px 0px rgb(238, 186, 168);
	border-radius: 5px;
}
