@mixin heading {
    text-align:center;
    font-size:5rem;
    background: linear-gradient(90deg,#d65f5f,#ff3c00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}